* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container {
  display: flex;
  gap: 15px;
  height: 100vh;
  /* max-width: 700%; */
  width: 80%;
  padding: 10px;
  flex-direction: column;
  justify-content: center;
}
.history {
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: 100%;
  width: 20%;
  flex-wrap: wrap;
  padding: 5px;
  justify-content: center;
  flex: 1;
  border-right: 1px solid #b7b7b7;
}
.top-history {
  display: flex;
  background-color: #b7b7b7;
  padding: 10px;
  justify-content: space-between;
}
.bottom-history {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  overflow: auto;
  padding: 10px;
}
.ask-box {
  display: flex;
  width: 584px;
  height: 83px;
  padding: 12px;
  flex: 1 1 200px;
  min-width: 120px;
  font-size: 16px;
  border: none;
  border-radius: 25px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}
.Suggestions {
  display: flex;
  gap: 20px;
}
.Suggestions span {
  background-color: #b7b7b7;
  border-radius: 45%;
  padding: 8px;
  border: 1px solid black;
  cursor: pointer;
}
.bottom {
  display: flex;
  flex: 1;
  color: #444;
  justify-content: center;
  align-items: flex-end;
  max-height: 40%;
  flex-wrap: wrap;
}
.top {
  display: flex;
  flex: 1;
  color: #444;
  max-height: 40%;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}
.left {
  display: flex;
  gap: 10px;
  justify-content: flex-start;
}
.center {
  display: flex;
  font-weight: bold;
  font-size: 18px;
  color: #444;
  justify-content: center;
}
.right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.box-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.box {
  display: flex;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
}
.box-center i {
  background-color: #aeabab;
  padding: 10px;
  border-radius: 50%;
  border: 1px solid black;
}
i {
  cursor: pointer;
}
