<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Weekend or Weekday</title>
  </head>
  <body>
    <h1>Let's find out is it a weekday or weekend!</h1>
    <h2>it's <%= type %>, <%= adv %></h2>
  </body>
</html>
