<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
  </head>
  <body>
    <%- include("partials/header.ejs") %>
    <div class="container m-5">
      <h1 class="text-center mb-5">About Us</h1>
      <p class="text-center">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam culpa
        minima quaerat atque voluptatum officiis ad quae expedita reiciendis ea
        quis quisquam, dolorum itaque adipisci commodi animi aperiam. Quasi ut,
        asperiores repellat reiciendis accusamus pariatur alias maiores saepe ea
        omnis, id voluptatem deleniti incidunt in atque repudiandae molestiae
        consectetur. Consectetur odit odio inventore nesciunt corporis
        voluptatibus eum labore velit? Beatae, officia deleniti. Sunt, suscipit?
        Aperiam nesciunt natus dolore ab sit sed ex, error possimus alias.
        Cupiditate amet dolorum ullam tempora voluptatem rem veritatis sequi
        repellat ducimus? Quae odit mollitia dignissimos minima culpa hic, eum
        corporis ex? Error debitis mollitia, doloribus accusamus laborum quam
        ipsum ratione magnam nesciunt iste. Sunt dignissimos est suscipit
        quibusdam dolores placeat officia repudiandae dolorum, ducimus tempore
        illum eius, aperiam architecto eum vel similique id. Adipisci
        consectetur quia tempora corrupti officiis harum rerum voluptatibus eius
        culpa veritatis fuga, non aperiam inventore placeat suscipit ex
        distinctio error explicabo repellat. Laudantium consequuntur omnis unde
        illum nesciunt, aperiam esse iusto alias, voluptatibus impedit harum!
        Odio quisquam fugiat facilis sint praesentium consequuntur dolor numquam
        maxime, expedita deleniti adipisci consequatur omnis. Neque rerum
        nesciunt atque voluptatem sunt. Iusto, itaque, veniam ea in harum
        perferendis dolor ullam placeat possimus explicabo error hic
        exercitationem!
      </p>
    </div>
    <%- include("partials/footer.ejs") %>
  </body>
</html>
